@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Smooch&display=swap');

body {
    margin: 0;
    padding: 0;
    color: #9CC4B2;
    background-color: #2D2A32;
    font-family: 'Bebas Neue', cursive;
    overflow: auto;
}

/* Container, navbar, and footer css  */

.container {
    border: 5px solid #9CC4B2;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 70%;
    max-width: 1524px;
    margin: auto;
}

.logo {
    font-size: 1.6rem;
}

.nav-toggle {
    display: none;
}

.menu {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.menu li {
    display: inline;
    margin: 0 5px;
    font-size: 1.6rem;
    color: #9CC4B2;
}

.menu a,
.logo a {
    text-decoration: none;
}

.menu a:visited,
.logo a:visited {
    color: #9CC4B2;
}

.menu a.active {
    color: #9b6dc2;
}

.footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts {
    width: 11rem;
    display: flex;
    justify-content: space-between;
}

.contacts img {
    height: 25px;
}


/* main info css */

.info-container {
    height: calc(100vh - 60px - 50px - 10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    font-size: 10rem;
    letter-spacing: 1.6rem;
    position: relative;
}

.name::after {
    content: 'Shivhare';
    font-family: 'Smooch', cursive;
    font-size: 8.1rem;
    letter-spacing: 0.15rem;
    color: #9b6dc2;
    position: absolute;
    top: 4.1rem;
    left: 3.3rem;
}

.text {
    font-size: 1.57rem;
}

.about {
    margin-top: 60px;
}

.about a {
    text-decoration: none;
    border: 2px solid #9b6dc2;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1.3rem;
}

.about a:visited {
    color: #9CC4B2;
}

@media only screen and (max-width: 700px) {
    .navbar {
        width: 80%;
    }

    .menu {
        flex-direction: column;
        position: fixed;
        inset: 5px 5px 5px 30%;
        /* inset means (top, right, bottom, left) */
        padding: min(15vh, 10rem) min(20vw, 5rem);
        background-color: #9a6dc229;
        backdrop-filter: blur(1.8rem);
        z-index: 1;
        transform: translateX(100%);
    }

    .menu[show="true"] {
        transform: translateX(0%);
    }

    .menu li {
        margin: 15px 0px;
    }

    .nav-toggle {
        display: block;
        z-index: 10;
        border: none;
        background: none;
        cursor: pointer;
    }

    .nav-toggle img {
        height: 1.55rem;
        aspect-ratio: 1;
    }

    .contacts {
        width: 6.5rem;
    }

    .contacts img {
        height: 18px;
    }

    .name {
        font-size: 4.2rem;
        letter-spacing: 1rem;
    }

    .name::after {
        font-size: 3.8rem;
        top: 1.6rem;
        left: 1.4rem;
    }

    .text {
        font-size: 0.8rem;
        margin-top: 5px;
    }

    .about a {
        font-size: 0.8rem;
        color: #9CC4B2;
    }
}